@{
  Layout = "_Layout";
}

<h3>Welcome, Pierre!</h3>

<p>To view a list of vendors, click the checklist icon in the upper right corner. To return to this home page, click the bread icon in the upper left corner.</p>

