@{
  Layout = "_Layout";
}

<div id="homePage">
  <h3 id="bienvenue">Bienvenue Pierre!</h3>

  <p>To return to this home page at any time, click
    the bread icon in the upper left corner.</p>
  <p>To view a list of vendors, click the checklist icon in the upper right corner. On that page, you will find a link to a form to add new vendors to your master list.</p>
  <p>Clicking on the name of an individual vendor will take you to a page containing each of their orders, as well as a link to a form to add new orders for the selected vendor.</p>
  <p>Remember mon ami, if you ever get confused, click the bread icon to navigate back to these instructions. Bon chance!</p>
</div>
