<div id="logo-row">
  <img class="bread" src="~/images/bread-logo.png" alt="bread logo" />
  <img id="text-logo" src="~/images/text-logo.png" alt="text logo" />
  <img class="bread" src="~/images/bread-logo.png" alt="bread logo" />
</div>