@{
  Layout = "_Layout";
}
<div id="orderForm">
  <form action="/vendors/@Model.Id/orders" method="post" onsubmit="validateOrderForm()">
    <h3>New <em>@Model.Name</em> Order</h3>
    <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">

    <label for="orderName"></label>
    <input id="orderName" name="orderName" type="text" placeholder="Name">
    <br>
    <label for="orderDates"></label>
    <input id="orderDates" name="orderDates" type="text" placeholder="Date(s)">
    <br>
    <label for="orderPrice"></label>
    <input id="orderPrice" name="orderPrice" type="number" placeholder="Price">
    <br>
    <input type="hidden" name="orderHasPaid" value="false">
    <input type="checkbox" id="orderHasPaid" name="orderHasPaid" onclick="updateHiddenField(this)">
    <label for="orderHasPaid">Payment Received</label><br>
    <br>
    <div id="detailsContainer">
      <label>Items</label>
      <div class="detailEntry">
        <input class="quantity" name="detailQuantities" type="number" placeholder="Quantity">
        <input class="item" name="detailItems" type="text" placeholder="Item">
      </div>
    </div>

    <button type="button" onclick="addDetailField()">Add Item</button>
    <br>
    <p id="errorMessage2" style="color: red; display: none;">Please fill out each required field.</p>
    <button type="submit">Complete order</button>
  </form>
</div>

<script>
  function addDetailField() {
    const container = document.getElementById('detailsContainer');
    const newEntry = document.createElement('div');
    newEntry.innerHTML = `
  <input name="detailQuantities" class="quantity" type="number" placeholder="Quantity">
  <input name="detailItems" class="item" type="text" placeholder="Item">
  `;
    container.appendChild(newEntry);
  }

  function updateHiddenField(checkbox) {
    const hiddenInput = document.querySelector('input[name="orderHasPaid"]');
    hiddenInput.value = checkbox.checked ? 'true' : 'false';
  }
  
  function validateOrderForm() {
    const orderNameField = document.getElementById('orderName');
    const orderDatesField = document.getElementById('orderDates');
    const orderPriceField = document.getElementById('orderPrice');
    const errorMessage = document.getElementById('errorMessage2');
    if (orderNameField.value.trim() === "" ||
      orderDatesField.value.trim() === "" ||
      orderPriceField.value.trim() === "") {
      errorMessage.style.display = "block";
      event.preventDefault();
    } else {
      errorMessage.style.display = "none";
    }
  }
</script>
