#logo-row {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#text-logo {
  width: 70vw;
}

.bread {
  width: 13vw;
  height: 10vw;
}

body {
  background: rgb(233, 233, 233);
  background: linear-gradient(90deg, rgba(233, 233, 233, 1) 0%, rgba(68, 188, 219, 1) 7%, rgba(68, 188, 219, 1) 93%, rgba(233, 233, 233, 1) 100%);
}

#vendorForm {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#vendorForm h2 {
  font-size: 32px;
}

#vendorForm input {
  margin-bottom: 3px;
}

#vendorForm button {
  margin-bottom: 3px;
  background-color: #FBE304;
}

a {
  color: black;
  text-decoration: none;
}

#vendorsList {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#vendorsList button {
  background-color: #FBE304;
}

#vendorsList h3 {
  font-size: 20px;
}

#vendorsList h3 :hover {
  color: #FBE304;
}

#vendorsList h2 {
  text-decoration: underline;
  font-size: 32px;
}

#vendorsList h4 {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 4px;
}

svg {
  width: 10vw;
  height: 10vw;
}

#ordersList {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#deliverTo {
  font-style: italic;
  text-align: center;
}

#ordersList h3 {
  text-align: center;
  font-size: 32px;
}

.orderCard {
  background-color: #FBE304;
  padding: 10px;
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.orderCard h2 {
  text-decoration: underline;
}

#false {
  color: red;
}